[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/babarot/mini

[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery
