server {
  listen      80;
  server_name localhost;

  location / {
    if ($http_x_forwarded_proto != "https") {
      return 301 https://$host$request_uri;
    }

    root  /usr/share/nginx/html;
    index index.html index.htm;
  }

  location = /healthz {
    return 200 'ok';
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /usr/share/nginx/html;
  }
}
