.header-logo img {
    border-radius: 50%;
    border: 4px solid #D8D8D8;
}

.header-logo img:hover {
    border-color: #E0E0E0;
}

.site-title {
    font-size: 2.1rem;
    margin-top: 2rem;
}

code,
pre {
    font-size: 120%;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 4px;
    font-size: 80%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px;
}

.article-header2 {
    margin: 10px 0 25px -4px;
    padding: 5px 0 5px 10px;
}

.content h2 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
}

.content p {
    margin: 25px 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
