.header-logo img {
    border-radius: 50%;
    border: 4px solid #D8D8D8;
}

.header-logo img:hover {
    border-color: #E0E0E0;
}

.site-title {
    font-size: 2.1rem;
    margin-top: 2rem;
}

code,
pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 4px;
    font-size: 80%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

.article-header2 {
    margin: 10px 0 25px -4px;
    padding: 5px 0 5px 10px;
}
