<iframe 
    style="border-radius:12px" 
    src="https://open.spotify.com/embed/episode/{{ index .Params 0 }}?utm_source=generator{{ if eq (index .Params 1) "black" }}&theme=0{{ end }}"
    width="100%"
    height="{{ if eq (index .Params 2) "small" }}152{{ else }}232{{ end }}"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
</iframe>

<!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/{{ index .Params 0 }}?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> -->
