<style type="text/css">
:root {
  --details-border: #e9ecef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --details-border: #2D3748;
  }
  summary {
    color: #999999;
  }
}

details {
  padding: 1rem;
  border: 1px solid var(--details-border);
  border-radius: .25rem;
}

summary {
  line-height: 1;
  padding: 1rem;
  margin: -1rem;
  cursor: pointer;
}

details[open] summary {
  margin-bottom: 0;
}
</style>

<details>
  <summary>{{ .Get "title" | default "Click to expand" | markdownify }}</summary>
  {{ .Inner | markdownify }}
</details>
