<iframe src="//www.slideshare.net/slideshow/embed_code/key/{{ index .Params 0 }}"
  width="766" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
  style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
</iframe>
<div style="margin-bottom:5px">
  <strong>
    <a href="//www.slideshare.net/{{ index .Params 1 }}"
      title="{{ index .Params 2 }}"
      target="_blank">{{ index .Params 2 }}
    </a>
  </strong> from 
  <strong>
    <a target="_blank" href="//www.slideshare.net/{{ index .Params 1 }}">{{ index .Params 3 }}</a>
  </strong>
</div>
